@import "./color_schemes/dark";

$body-background-color: #0b0e1f;
$sidebar-color: #0d1128;
$border-color: #232a57;
$body-heading-color: #f3f5ff;
$body-text-color: #c3c9ee;
$nav-child-link-color: #8a91c2;
$link-color: #ff7ac8;
$btn-primary-color: #8b5cf6;
$base-button-color: #181e44;
$search-background-color: #0b0e1f;
$search-result-preview-color: #8a91c2;
$table-background-color: #121735;
$code-background-color: #0a0d1c;
$code-linenumber-color: #565f89;
$feedback-color: #181e44;
